@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


body {
    font-family: 'Nutino Sans' , sans-serif;
    background-color: #202d36;
    color: #fff;
    padding: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b3743;
    padding: 30px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 20px;
   
}
.grid article{
    box-shadow: 0 10px 10px rgb(32,45,54, 0.5)
}

.grid .details{
    background-color: #2b3743;
    padding: 40px 20px;
    margin-top: -10px;
    border-radius: 0 0 5px 5px;
}

.grid article img{
    border-radius: 5px 5 px 0 0;
    height: 250px;
}

.grid .details h3{
    padding-bottom: 10px;
}

.grid .details h4{
    padding-bottom: 5px;
}

.grid .details h4 span{
   font-weight: 300;
}

@media (min-width: 640px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 992px){
    body{
   padding: 50px 100px;
    }
    .grid{
        grid-template-columns: repeat(4,1fr);
        gap: 60px;
    }
}
.button{
    padding:20px;
}

.btn{
    background: linear-gradient(90deg,#0162c8, #55e7fc);
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
    font-family:inherit;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.2s;
    overflow: hidden;
}



.btn:hover{
    background-color: #fff;
    color: hsl(207, 26%, 17%);
}




